* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: fixed;
  background-color: rgb(128, 148, 250);
  z-index: 50;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 20px auto;
  background-color: transparent;
  height: 50px;
  color: white;
}

.logo {
  font-size: 2.5rem;
}

.navbar ul {
  display: flex;
}

.nav-items {
  list-style-type: none;
  font-size: 1.5rem;
  text-underline-position: none;
  color: white;
}

a:hover {
  background-color: #08ee10;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 925px) {
  .nav-items {
    font-size: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .nav-items {
    font-size: 1.25rem;
  }

  .navbar {
    flex-direction: column;
    margin: 10px auto;
    height: 100%;
    max-width: 60%;
  }

  .header {
    width: 100%;
    margin: 0;
  }

  .logo {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 440px) {
  .logo {
    font-size: 2rem;
  }

  .nav-items {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .nav-items {
    font-size: 0.75rem;
  }
  .logo {
    font-size: 1.8rem;
  }
}
